[Desktop Entry]
Type=Application
Name=CamClops Timelapse Editor
Comment=Create timelapse sections from CamClops collage MP4 files
Exec=camclops-tl %f
Icon=camclops
Categories=AudioVideo;Video;
MimeType=video/mp4;
Terminal=false
